input {
    display: block;
  }

form {
    border-style:groove;
    display: inline-block;
    position: relative;
}

h1 {
    background-color: #800020;
    color: white;
    text-align: center;
}

.cadastrar-usuario {
    text-align: center;
    position: absolute;
    width:100%;
}

div {
    padding: 5px;
  }

button{
    padding: 5px;
    margin: 25px;
}