body{
    padding-bottom: 1035px;
}

header{
    margin-bottom: 10px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

header li {
    float: left;
    font-size: small;
    line-height: 100%;
}

header li a {
    display: block;
    text-align: center;
    padding: 14px 0px 14px 20px;
}

footer{
    background-image: url("../img/fundo-rodape.png");
    padding: 20px 200px 20px 200px;
    position: fixed;
    bottom: 0;
    left: 300px;
    right: 300px;
    height: 75px;
}

footer ul{
    float: right;
}

footer li{
    float: left;
    margin-inline: 10px;
    list-style-type: none;
}

#pagina{
    padding-inline: 200px;
    height: 100%;
    width:fit-content;
    margin: auto;
}

#conteudo{
    position: relative;
}

section{
    float: left;
    margin: 10px;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: #000;
}

figcaption {
    font-style: italic;
    padding-top: 5px;
    text-align: center;
}

#novidades{
    background-color: #F7DADE;
    margin-left: 0px;
    margin-right: 15px;
}

#mais-vendidos{
    background-color: #DBDBF7;
    margin-left: 15px;
    margin-right: 0px;
}

ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0px;
}

ol li{
    margin: 5px 10px 10px 0px;
    list-style-type: none;
}

#banner-principal{
    float: right;
    margin: auto;
}

#menu-vertical{
    float: left;
    margin: auto;
    border-bottom: 10px solid #d3d3d3;
    margin-right: 5px;
}

#menu-vertical ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border-top: 10px solid #fff;
}

#menu-vertical li a {
    display: block;
    color: #000;
    background-color: #fff;
    padding: 8px 16px;
    text-decoration: none;
}

#menu-vertical li a:hover {
    background-color: #f1f1f1;
}

#busca-div{
    padding:8px;
    background-color: #d3d3d3;
    width: fit-content;
}

#busca-div input{
    margin-top: 5px;
    padding-left: 10px;
    border-width: 1px;
    border-radius: 20px;
}

#busca-div button{
    border: 0px;
    background-color: inherit;
    vertical-align:text-bottom;
    padding-left: 0px;
}