body{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin: 40px 0px 10px 0px;
    justify-content: center;
    color: gray;
    text-align: center;
}

footer img {
    margin-right: 30px;
}

figure {
    border: 1px #cccccc solid;
    background-color: #F2EDED;
    padding: 10px;
    margin: auto;
}

figcaption {
    font-style: italic;
    padding: 5px;
    text-align: center;
}

#imagem-maria {
    width: 500px;
    margin: auto;
}

#familia-pelho {
    float: right;
    margin-left: 10px;
}

#sobre-header {
    background-image: url("../img/background-color-rose.png");
    padding: 9px;
    margin-top: 25px;
    text-align: center;
}

#sobre-header a {
    margin-left: 10px;
}

.lista-horizontal{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #800020;
}

.item-horizontal{
    float: left;
}

.item-horizontal a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.item-horizontal a:hover{
    background-color: #111111;
}
