<footer>
  <div class="footer-logo">
    <img src="/img/logo.png" alt="Logo" width="120px">
  </div>

  <div class="footer-menu">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-youtube"></a>
  </div>
</footer>