<footer>
  <div class="footer-logo">
    <img src="/img/logo.png" alt="Logo" width="120px">
  </div>

  <div class="footer-menu">
    <a href="#" class="fa fa-facebook" title="facebook"></a>
    <a href="#" class="fa fa-twitter" title="twitter"></a>
    <a href="#" class="fa fa-instagram" title="instagram"></a>
    <a href="#" class="fa fa-youtube" title="youtube"></a>
  </div>
</footer>