<header>
  <div class="img-header">
    <a href="/home">
      <img src="/img/logo.png" alt="Logo" width="228.172px">
    </a>
  </div>
  <div class="nav-header">
    <a href="#shopping-cart">
      <i class="material-symbols-outlined">
        shopping_cart
      </i>
    </a>
    <% if (!user) { %>
    <a href="/login">
      <%} else { %>
      <a href="/user/config">
        <% } %>
        <i class="material-symbols-outlined">
          person
        </i>
      </a>
      <a href="#wishes">
        <i class="material-symbols-outlined">
          favorite
        </i>
      </a>
      <a href="/sobre">
        <i class="material-symbols-outlined">
          info
        </i>
      </a>
      <a href="#help">
        <i class="material-symbols-outlined">
          help
        </i>
      </a>
  </div>
</header>