<%- include('layout'); -%>
<%- include('partials/header'); -%>

<main>
  <form>
    <h2>Login</h2>
    <form-group>
      <label for="email">Email</label>
      <input type="text" name="email" />
      <div class="email error"></div>
    </form-group>
    <form-group>
      <label for="password">Password</label>
      <input type="password" name="password" />
      <div class="password error"></div>
    </form-group>
    <form-group>
      <button type="submit">Log in</button>
      <p>Não tem uma conta? <a href="/signup">Cadastre-se</a></p>
    </form-group>

  </form>
</main>

<%- include('partials/footer'); -%>

<script src="../js/login.js"></script>
</body>

</html>