<%- include('layout'); -%>
<%- include('partials/header'); -%>

<main>
    <form class="form-cosmetico" action="home" method="post">
        <form-header>
            <h2>Cadastrar</h2>
        </form-header>
        <form-group>
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" required>
            <label for="surname">Sobrenome</label>
            <input type="text" id="surname" name="surname" required>
            <div class="name error"></div>
        </form-group>
        <form-group>
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" required>
            <div class="email error"></div>
        </form-group>
        <form-group>
            <label for="dataNascimento">Data de Nascimento</label>
            <input type="date" id="dataNascimento" name="dataNascimento" required>
            <div class="dataNascimento error"></div>
        </form-group>
        <form-group>
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" required>
            <div class="password error"></div>
        </form-group>
        <form-group>
            <label for="confirmPassword">Confirmar Senha</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
            <div class="confirmPassword error"></div>
        </form-group>
        <form-group>
            <input class="botaoCadastrar" type="submit" value="Cadastrar"></input>
        </form-group>
    </form>
</main>

<%- include('partials/footer'); -%>
<script src="../js/cadastro.js"></script>
</body>

</html>