footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--vermelho);
  width: 100%;
}

footer .footer-logo {
  justify-content: center;
  display: flex;
  align-content: center;
  padding: 5px;
}

footer .footer-logo img {
  height: 20px;
  width: auto;
  border-radius: 50%;
}

footer .footer-menu {
  position: absolute;
  right: 0;
  gap: 1rem;
  display: flex;
  margin: 0 1rem;
}

footer .footer-menu a {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-menu .fa {
  text-align: center;
  text-decoration: none;
  width: 1rem;
  height: 1rem;
  border-radius: 4px;
  color: white;
}

footer .footer-menu .fa:hover {
  opacity: 0.7;
}
